<%= form_with(model: organization, local: true, html: {autocomplete: "false"} ) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :organization_name %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :organization_address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :organization_address2 %>
  </div>

  <div class="field">
    <%= form.label 'City & State' %>
    <%= form.text_field :city_and_state, id: 'f_elem_city', class: 'ff_elem' %>
  </div>

  <div class="hidden fields">
    <%= form.hidden_field :city, id: 'geobytescity' %>
    <%= form.hidden_field :state, id: 'geobytesregion' %>
    <%= form.hidden_field :country, id:'geobytescountry' %>
    <%= form.hidden_field :latitude, id:'geobyteslatitude' %>
    <%= form.hidden_field :longitude, id:'geobyteslongitude' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
